[phases.setup]
nixPkgs = [
    "python311",
    "python311Packages.pip", 
    "python311Packages.virtualenv",
    "gcc",
    "binutils",
    "zlib",
    "libffi",
    "openssl"
]

[phases.install]
cmds = [
    "python -m venv /opt/venv",
    ". /opt/venv/bin/activate",
    "pip install --upgrade pip",
    "pip install -r requirements.txt"
]

[start]
cmd = "python main.py"
